{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="row">

<div class="col-md-5">

<div class="card" style="">
  <img class="card-img-top border" src="{{ asset('assets/images/grenouilleBuy.svg') }}" rel="nofollow" alt="grenouille avec panier">
  <div class="card-body">
    <h3 class="card-header card-header-success"><a href="">Nos Catalogues</a></h3>
    <p class="card-text">Notre boutique propose plusieurs produits de catégories différentes (graines, plante, outils ...)</p>
  </div>
</div>

</div>

<div class="col-md-2"></div>

<div class="col-md-5">

<div class="card" style="">
  <img class="card-img-top border" src="{{ asset('assets/images/grenouillesDiscuss.svg') }}" height="429px" rel="nofollow" alt="grenouille avec panier">
  <div class="card-body">
    <h3 class="card-header card-header-success"><a href="{{ path('forum') }}">Le Forum</a></h3>
    <p class="card-text">Ici, vous pouvez: discuter avec des passionnés de jardinage, donner votre avis, demander des conseils et obtenir une assistance pour des problèmes techniques.</p>
  </div>
</div>

</div>

</div>

{% endblock %}