@import url('https://fonts.googleapis.com/css2?family=Itim&Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Itim', cursive;
}

.logo {
    width: 25px;
    height: 30px;
}

a:hover {
    text-decoration: none;
}

.nav {
    font-family: 'Montserrat', sans-serif;
}

.shop{
    font-family: 'Itim', cursive;
    color: #FF0000;
    font-size: 2em
}
.navbar {
    background-color: #55D400 !important;
    background-image: none;
}
.navbar .nav-item .nav-link {
    background-color: #55D400 !important;
    color: white;
}
.nav-link:hover {
    color: #FF0000;
}
.shoppingCard {
    color: #FF0000;
    margin-right: 2em;
    font-size: 2em;
}

.form-control {
    border-right: none;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-color:#55D400;
    padding-right: 10em;
}

.btn {
    padding: 6px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    margin-left: 0;
    border-left-style: none;
    border-color:#55D400;
}

.form-inline {
    margin-right: 10em;
}

.badge {

}

.dot {
    position: absolute;
    right: 2.8em;
    font-size: 1.5em;
    bottom: 1.4em;
    top: -7px;
    height: 25px;
    width: 25px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #FF0000;
}

.dot span {
    color: white;
    top: -5px;
    font-size: 15px;

}

.footerStyle {
    background-color:#707070;
}