

{% block title %}Hello ArticleController!{% endblock %}

{% block catalog %}

        <ul>
            <li>
                Catalogues
            </li>
            {% for category in categories %}
            <li>
                <a href="{{ path('article', {'id':category.id}) }}">{{ category.label }}</a>
            </li>
            {% endfor %}
        </ul>

{% endblock %}